<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/nav.ejs') %>
<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus doloribus sed nihil voluptas debitis doloremque reprehenderit, aperiam tempore est repudiandae voluptatum, nemo quis expedita minus facere beatae eos excepturi facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum esse dolor natus vero expedita, fuga delectus ab recusandae sint itaque culpa aliquam numquam? Porro amet inventore unde vero, alias voluptatum.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque rerum non et atque minima, tenetur tempore modi porro quis explicabo repellendus natus fugit quidem aut. Recusandae repudiandae rem consequatur est.</p>
</div>
<%- include('../partials/footer.ejs') %>
</body>
</html>